$module: 			'video-trans';


.#{$module} {
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
	}

	&__wrap {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;

		&.fader {
			@include transition(opacity 3s linear);
			opacity: 0;

			&.playing {
				opacity: 1;
			}

			&.fadeOut {
				opacity: 0;
			}
		}

		&.spinner {
			@include transition(all 3s ease-out);
			opacity: 0;
			@include transform(scale(0.01, 0.01) translate3d(-200%, 200%, 0) rotate3d(1,1,1,180deg));

			&.playing {
				opacity: 1;
				@include transform(scale(1, 1) translate3d(0, 0, 0) rotate3d(1,0,0,0));
			}

			&.spinOut {
				opacity: 0;
				@include transform(scale(0.01, 0.01) translate3d(200%, -200%, 0) rotate3d(1,1,1,180deg));
			}
		}
		
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba($color-black,0.4);
		}
	}	

	&__outerwrap {
		position: relative;
		padding-bottom: 55.8%;
	}
	
	&__videos {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__caption {
		@extend %caption;
	}

	&__startpoint {
		@include transition(opacity 0s 3s);
		z-index: 2;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba($color-black,0.4);
		}

		&.inactive {
			opacity: 0;
			z-index: 0;
		}

		&--img {
			@extend .#{$module}__startpoint;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			
			.no-videoautoplay & {
				display: none;
			}
		}
	}

	&__endpoint, &__endpoint--text {
		@extend %caption;

		&.inactive {
			opacity: 0;
		}
	}
	
	&__fallback-wrap {
		display: none;
		position: relative;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
		.no-videoautoplay & {
			display: block;
		}
	}
	
	&__fallback {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: center;
		opacity: 0;
		
		.video-trans__wrap & {
			display: none;
		}
		
		&.playing {
			opacity: 1;
		}
	}
}